Dx12Renderer/.vs/Dx12Renderer/CopilotIndices/17.14.1518.61961/CodeChunks.db
Dx12Renderer/.vs/Dx12Renderer/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
Dx12Renderer/.vs/Dx12Renderer/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
Dx12Renderer/.vs/Dx12Renderer/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
Dx12Renderer/.vs/Dx12Renderer/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
Dx12Renderer/.vs/Dx12Renderer/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
Dx12Renderer/.vs/Dx12Renderer/v17/ipch/AutoPCH/e2f7380af73d901b/DX12RENDERER.ipch
Dx12Renderer/.vs/Dx12Renderer/v17/ipch/AutoPCH/ba45cb7ea9ec2096/MAIN.ipch
Dx12Renderer/.vs/Dx12Renderer/v17/ipch/AutoPCH/968e514325dce051/STDAFX.ipch
Dx12Renderer/.vs/Dx12Renderer/v17/ipch/AutoPCH/7e29e3f7c7d76f88/MAIN.ipch
Dx12Renderer/.vs/Dx12Renderer/v17/ipch/AutoPCH/749c3ccf1a70c7cb/MAIN.ipch
Dx12Renderer/.vs/Dx12Renderer/v17/ipch/AutoPCH/1c92a191d0d5c9d1/MAIN.ipch
Dx12Renderer/.vs/Dx12Renderer/v17/ipch/AutoPCH/12db602a296c0540/D3DX12.ipch
Dx12Renderer/.vs/Dx12Renderer/v17/DocumentLayout.json
Dx12Renderer/.vs/Dx12Renderer/v17/DocumentLayout.backup.json
Dx12Renderer/.vs/Dx12Renderer/v17/Browse.VC.opendb
Dx12Renderer/.vs/Dx12Renderer/v17/Browse.VC.db-wal
Dx12Renderer/.vs/Dx12Renderer/v17/Browse.VC.db-shm
Dx12Renderer/.vs/Dx12Renderer/v17/Browse.VC.db
Dx12Renderer/.vs/Dx12Renderer/v17/.suo
Dx12Renderer/.vs/Dx12Renderer/FileContentIndex/fc19dda5-81e9-4ae9-b9fa-a2a3b5f3edb1.vsidx
Dx12Renderer/.vs/Dx12Renderer/FileContentIndex/a30bc152-8647-47a2-af8e-477e0d985f5d.vsidx
Dx12Renderer/.vs/Dx12Renderer/FileContentIndex/84587920-1a6c-40e8-b6d8-a2cd0ce650a7.vsidx
Dx12Renderer/.vs/Dx12Renderer/FileContentIndex/81bd79ed-1171-437a-b4b3-6ab93cc770e6.vsidx
Dx12Renderer/.vs/Dx12Renderer/FileContentIndex/53ef463c-bf93-4881-9db3-5b37a4c55951.vsidx
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.exe.recipe
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.ilk
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.log
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.res
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/CL.command.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/Cl.items.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/CL.read.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/CL.write.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/Dx12Renderer.lastbuildstate
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/link.command.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/link.read.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/link.secondary.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/link.write.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/rc.command.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/rc.read.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/Dx12Renderer.tlog/rc.write.1.tlog
Dx12Renderer/Dx12Renderer/x64/Debug/main.obj
Dx12Renderer/Dx12Renderer/x64/Debug/stdafx.obj
Dx12Renderer/Dx12Renderer/x64/Debug/vc143.idb
Dx12Renderer/Dx12Renderer/x64/Debug/vc143.pdb
Dx12Renderer/x64/Debug/Dx12Renderer.exe
Dx12Renderer/x64/Debug/Dx12Renderer.pdb
